#hero-image{
    height: 600px;
    width:100%;
    
    background: url("/static/images/cookbook.jpg") no-repeat center center;

  }

  #hero-outer{
    height:600px; /*same as #hero-image */
    width: 100%; /*same as #hero-image */
    overflow: hidden; /*also clear:both; this brings the background imae undet the logo and nav elements.*/
    position: relative;
}

#cover-text {
   
    font-family: Oswald;
    text-transform: uppercase;
    letter-spacing: 3px;
     
    height: 500px;
    width: 300px;
  
    padding-top: 40px;
    padding-left: 10px;
  
    background-color:rgba(27, 94, 32, 0.3); /*opacity .7 */
  
    /* placve in fixed position: relatuve to partebt container */
    bottom: 100px; /* 30px aboce bottom of hero image */
    right: 150px; /* 150px from right of hero image */
  
    position:absolute; /*fix in place by settinh positin absolute */
    /*note the parent container mus thave
    position:relative; "hero-outer" */
  }

  .card-image{
  }