@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;600;700&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400&display=swap');

.nav-wrapper{
  padding-left: 10px;
  padding-right: 10px; 
}

.caption{
  background-color:rgba(27, 94, 32, 0.35);
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  padding:10px;
}

.caption .dancing{
  font-weight: 700;
}

.dancing{
  font-family: 'Dancing Script', cursive;
}

#hero-image{
  height: 600px;
  width:100%;
  background: url("/static/images/cookbook.jpg") no-repeat center center;
}

#hero-outer{
  height:600px; 
  width: 100%; 
  overflow: hidden; 
  position: relative;
}

#cover-text {
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
     
    height: 500px;
    width: 300px;
  
    padding: 40px 10px 0px 10px;
    background-color:rgba(27, 94, 32, 0.7); 
  
    bottom: 100px; 
    right: 100px; 
  
    position:absolute;
  }

  #hero-search {
    height: 50px;
    width: 25%;
    background: rgba(0, 0, 0, 0.5);
    color:#ffff;
    border-radius: 50px;
    text-transform: none;
    bottom: 250px; 
    position:absolute; 
    left: 0;
    right: 0;
    margin: auto;
  }

  #hero-search .input {
    background:transparent;
    color:#ffff;
    width:100%;
    font-size: 27px;
    margin: 0;
}


#hero-search button {
    position:absolute; 
    bottom: 0px; 
    
    right: -20px;
    
    color: #fff;
    background:#0000;
    height: 50px;
    
    padding: 2;
    border: 1;
    border-radius: 50px;
  }

  
.search_result{
  align-content: center;
}
.collapsible-header .col strong{
  margin:5px;
  line-height:42px;
}

.ratings{
  padding:2px;
}
hr{
  border:1px solid #777777;
  width:100%;
  margin: 5px 0;
}


/*###############view recipe#################*/
.recipe_view{
  border: 2px solid greenyellow;
  font-family: 'Poppins', sans-serif;
}

.recipe_ing{
  list-style-image: url('../images/chefs_hat_ico.png');
  list-style-position: inside;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.recipe_method{
  list-style-type: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.recipe_view img{
  border: 2px solid green ;
  border-style: groove ;
  max-height: 300px;
  width:95%;
}

.dancing_big{
  font-family: 'Dancing Script', cursive;
  font-weight: 600;
  font-size: 30px;
}

.head{
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
}

.rate-me{
  padding: 0px;
  margin: 0px;
  border:0px;
}

/* Flaired edges, by Tomas Theunissen */
.hr_flair {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: black;
  border-width: 1px 0 0 0;
  border-radius: 20px;
}
.hr_flair:before { /* Not really supposed to work, but does */
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  border-radius: 20px;
}


/*###############cookbook#################*/
.cookbook-card{

  height:400px;

  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.card-image{
  height: 50%;  
  overflow: hidden;
}


/*###############dashboard#################*/
.recipe_count img{
  height: 20px;
}
/*###############footer#################*/
/*social */
#footer {
  color:black;
}
#footer .page-footer .container .white-text{
  color:black;
}
.copywtext{
  text-align:center;

}
.social-networks{
  text-align:center;
}
.social-networks ul{
  display: inline;
}
.social-networks li{
  display: inline;

  font-size: 160%;
  margin: 1px;
  padding: 5%;
  color:#777777;
}


/*###############media queries#################*/

@media screen and (max-width:1445px){
  .cookbook-card{

  font-weight: 200px;
  letter-spacing: 0px;

  }

}

@media only screen and (max-width: 1175px) {

  #hero-search {
  left:-150px;
  }

}


/*screens < desktop */
@media screen and (max-width: 992px){

  #cover-text{
    left:45px;
    margin: 0 auto;
  }

 #hero-search {
    left:45px;
    bottom: 25px; 
    width :75%;
  }
}

@media screen and (max-width: 600px){
  #cover-text{
    left:20px;
    margin: 0 auto;
  }
  #hero-search {
    left:20px;
    padding:0;
    margin:0;
    border:0;
  }
}  
