{% extends "base.html"%}
{% block content%}
<h3 class="light-blue-text text-darken-4 center-align">Add Recipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">

        <!-- Recipe Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_name" type="text" name="recipe_name" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="recipe_name">recipe_name</label>
            </div>
        </div>

        <!-- Recipe Description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="recipe_descr" name="recipe_descr" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required></textarea>
                <label for="recipe_descr">Recipe Description</label>
            </div>
        </div>

        <!-- Select Allergens -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="allergens" name="allergens" class="validate" multiple required>
                    <option value="" disabled selected>Choose allergens</option>
                    {% for allergen in allergens %}
                        <option value="{{allergen.allergen}}">{{allergen.allergen}}</option>
                    {% endfor %}
                </select>
                <label for="category_name">Select Allergens</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <fieldset>
                    <legend>Add Ingredients:</legend>
                    <button type = "button" class="btn-floating btn-large waves-effect waves-light blue" onclick="addIngredient(GetLastStepNo()+1);"><i class="far fa-plus-square"></i></button>
                    <div id="ingredients-container">
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- METHOD ONE -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="method[]" type="text" name="method[]" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="method[]">1st</label>
            </div>
        </div><!-- METHOD TWO -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="method[]" type="text" name="method[]" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="method[]">"2nd"</label>
            </div>
        </div><!-- METHOD THREE -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="method[]" type="text" name="method[]" minlength="5" maxlength="50" class="validate"
                    required>
                <label for="method[]">3rd</label>
            </div>
        </div>
        <button type="submit">Add</button>

    </form>

<script>
function GetLastStepNo(){
  Cont = document.getElementById('ingredients-container')
  divChildren = Cont.childNodes;
  
  let x = 0;
  if (divChildren.length == 0) {
    return 0;
  }
  else {
    for (var i=0; i < divChildren.length; i++) {
      let str = divChildren[i].id;
      if (typeof str !== 'undefined'){
        if (str.includes("step_no")) {
          x++;
        } 
      }
    }
  }
  return x;
}
    function addIngredient(num){
        ingCont = document.getElementById('ingredients-container')
        // Create a break line element
        let br = document.createElement("br"); 
        let no = document.createElement("input");
        no.setAttribute("type", "text");
        no.setAttribute("id", "ing_" + num);
        no.setAttribute("name", "ing[]");
        no.setAttribute("placeholder", "add your ingredient here");

        let but = document.createElement("button")
        but.setAttribute("type","button")
        but.setAttribute("id","but_" + num)
        but.setAttribute("name", "but_"+ num);
        but.setAttribute("onclick","removeIngredient(" + num +");")
        but.setAttribute("class","btn-floating btn-small waves-effect waves-light red")
        but.innerHTML= "<i class='far fa-minus-square'></i>"

        
        ingCont.appendChild(br);
        ingCont.appendChild(no);
        ingCont.appendChild(but);
        
    }

    function removeIngredient(stepno){
        let b = document.getElementById("but_" + stepno).remove();
        let t = document.getElementById("ing_" + stepno).remove();
    }

</script>    
{% endblock%}
