<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Cookbook</title>
</head>
<body>
    <header>
        <nav>
            <a href="{{ url_for('recipes') }}" class="brand-logo">Recipe List</a>
        </nav>
    </header>
    <main class="container">
        {% block content %}
            <p>this is the base template</p>
        {% endblock %}
    </main>