{% extends "base.html"%}
{% block content %}
<h3 class="light-blue-text text-darken-4 center-align">Manage Allergens</h3>
    <div class="row">
        <div class="col 12">
            <a href="{{ url_for('add_allergen')}}" class="btn-large light-blue darken-1 text-shadow">
            Add Allergen </a>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <ul class="collection"></ul>
                {% for allergen in allergens %}
                
                <li class="collection-item">
                    <span class="title">{{ allergen.allergen }}</span> 

                            <!-- Delete Allergen -->
                            <!-- Modal Trigger -->
                            <a href="#modal_{{loop.index}}" 
                                class="secondary-content modal-trigger tooltipped"
                                data-position="bottom" data-tooltip="Delete Allergen">
                                <i class="far fa-trash-alt"></i></a>

                            <!-- Modal Structure -->
                            <div id="modal_{{loop.index}}" class="modal">
                                <div class="modal-content">
                                    <h4>Delete Allergen</h4>
                                    <p>
                                    <h4>Are you sure?</h4>
                                    </p>
                                </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_allergen',allergen_id=allergen._id)}}" 
                                    class="modal-close waves-effect waves-green btn-flat">Okay</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            </div>

                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h3 class="light-blue-text text-darken-4 center-align">Manage Users</h3>
    <div class="row">
        <div class="col s12">
            <!-- users -->
            <ul class="collapsible">
                {% for user in users %}
                <li>
                    <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                        <div class="col s9">
                            {{ user.username }}
                        </div>
                        <div class="col s3">
                            <i class="fas fa-caret-down"></i>
                                <!-- Delete User -->
                                <!-- Modal Trigger -->
                                <a href="#modal_user_{{loop.index}}"
                                    class="secondary-content modal-trigger btn-small red accent-4">Delete</a>

                                <!-- Modal Structure -->
                                <div id="modal_user_{{loop.index}}" class="modal">
                                    <div class="modal-content user-delete">
                                        <h4>Delete User</h4>
                                        <p>
                                            This action will delete the users profile <br>
                                            and all recipes created by that user. 
                                            <h4>Are you sure?</h4>
                                        </p>
                                    </div>

                                    <div class="modal-footer">
                                        <a href="{{ url_for('delete_user',user_id=user._id,redirect_to='dashboard')}}"
                                            class="modal-close waves-effect waves-green btn-flat">Okay</a>
                                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                                    </div>
                            </div>
                        </div>
                  
                    </div>  
                        <div class="collapsible-body">
                            <div class="row">
                                {{ user.email }}
                            </div>
                            <div class="row recipe_count">
                                    <p>Recipes:</p>
                                    {% for user_rec in user_recs %}
                                        {% if user_rec.user == user.username %}
                                            {% if user_rec.recs >  0 %}
                                                {% for n in range(user_rec.recs) %}
                                                    <img src="../static/images/chefs_hat.png" alt="chefs hat = number of recipes">
                                                {% endfor %}
                                            {% else %}
                                                <p>Nothing to see here</p>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                            </div>
                            
                        </div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <h3 class="light-blue-text text-darken-4 center-align">Manage Recipes</h3>
    <div class="row">
        <div class="col s12">
           <!-- recipes -->
            <ul class="collapsible">
            {% for recipe in recipes %}
            <li>
                <div class="collapsible-header white-text light-blue darken-4 text-shadow">
                    <div class="col s9">
                        {{ recipe.name }}
                    </div>
                    <div class="col s3">
                        <i class="fas fa-caret-down"></i>
                            
                        <a href="{{ url_for('view_recipe',recipe_id=recipe._id) }}" class="btn-small green accent-4">View</a>

                            <!-- Delete Recipe -->
                            <!-- Modal Trigger -->
                        <a href="#modal_rec_{{loop.index}}" 
                                class="secondary-content modal-trigger btn-small red accent-4">Delete</a>

                            <!-- Modal Structure -->
                        <div id="modal_rec_{{loop.index}}" class="modal">
                            <div class="modal-content recipe-delete">
                                <h4>Delete Recipe</h4>
                                <p>
                                <h4>Are you sure?</h4>
                                </p>
                            </div>
                        
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_recipe',recipe_id=recipe._id,redirect_to='dashboard')}}" 
                                    class="modal-close waves-effect waves-green btn-flat">Okay</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            </div>
                        </div>
                    </div>    
                </div>  
                <div class="collapsible-body">
                    <div class="row">
                        <div class="col">
                            {{ recipe.descr }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s8">
                            {% for avg in avgs %}
                                {% if avg.id == recipe._id  %}
                                    {% if avg.noofavg > 0 %}
                                        {% for n in range(avg.avg ) %}
                                            <i class="far fa-star"></i>
                                        {% endfor %}
                                        from
                                        {{ avg.noofavg }}
                                        ratings
                                    {% else %} 
                                        Not Rated Yet
                                    {% endif %}      
                                {% endif %}      
                            {% endfor %}
                        </div>
                        <div class="col s4 pinnedusers">
                            <i class="far fa-heart ico"></i> 
                            by {{ recipe.pinned|length }} users.
                            <ul>
                                {% for r in recipe.pinned %}
                                    {% if loop.index < 11 %}
                                        <li>
                                        {{ r }}
                                        </li>
                                    {% else %}
                                        <p>remaing users hidden...</p>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}