{% extends "base.html"%}
{% block content%}

<h3 class="light-blue-text text-darken-4 center-align">Edit Recipe</h3>

<div class="row card-panel grey lighten-5">
    <form class="col s12" method="POST" action="{{ url_for('edit_recipe',recipe_id=recipe._id) }}">

        <!-- Recipe Name -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="recipe_name" type="text" name="recipe_name" minlength="5" maxlength="50" class="validate"
                    required value="{{ recipe.name }}">
                <label for="recipe_name">recipe_name</label>
            </div>
        </div>

        <!-- Recipe Description-->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-align-left prefix light-blue-text text-darken-4"></i>
                <textarea id="recipe_descr" name="recipe_descr" minlength="5" maxlength="200"
                    class="materialize-textarea validate" required>
                    {{- recipe.descr -}}
                </textarea>
                <label for="recipe_descr">Recipe Description</label>
            </div>
        </div>

        <!-- Select Allergens -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <select id="allergens" name="allergens" class="validate" multiple required>
                    <option value="" disabled selected>Choose allergens</option>
                    {% for allergen in selected_allergens %}
                        <option value="{{allergen}}" selected> {{allergen}} </option>
                    {% endfor %}

                    {% for allergen in not_selected %}
                        <option value="{{allergen}}"> {{allergen}} </option>
                    {% endfor %}

                </select>
                <label for="allergens">Select Allergens</label>
            </div>
        </div>

        <!-- Select Serves -->
        <div class="row">
            <div class="input-field col l3">
                <i class="fas fa-cookie-bite prefix light-blue-text text-darken-4"></i>
                <select id="serves" name="serves" class="validate" required>
                    <option value="" disabled selected>Serves</option>
                    {%- for index in range(1, 11) -%}
                        {% if recipe.serves|int == index %}
                            <option value="{{ index }}" selected> {{ index }} </option>
                        {% else %}
                            <option value="{{ index }}">{{ index }} </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="serves">Serves</label>
            </div>
   
            <!-- Select Difficulty -->
            <div class="input-field col l3">
                <i class="fas fa-cookie prefix light-blue-text text-darken-4"></i>
                <select id="difficulty" name="difficulty" class="validate" required>
                    <option value="" disabled selected>Choose Difficulty</option>
                        {% for diff in difficulty %}
                            {% if recipe.difficulty == diff %}
                                <option value="{{recipe.difficulty}}" selected> {{recipe.difficulty}} </option>
                            {% else %}
                                <option value="{{recipe.difficulty}}">{{recipe.difficulty}} </option>
                            {% endif %}
                        {% endfor %}
                </select>
                <label for="difficulty">Select Difficulty</label>
            </div>

            <!-- Prep Time -->
            <div class="input-field col l3">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="prep_time" type="text" name="prep_time" minlength="5" maxlength="10" 
                class="validate" value="{{ recipe.preptime }}">
                <label for="prep_time">Prep Time</label>
            </div>

            <!-- Cook Time -->
            <div class="input-field col l3">
                <i class="fas fa-pencil-alt prefix light-blue-text text-darken-4"></i>
                <input id="cook_time" type="text" name="cook_time" minlength="5" maxlength="50" 
                class="validate" value="{{ recipe.cooktime }}">>
                <label for="cook_time">Cook Time</label>
            </div>
        </div>
        
        <!-- Ingredients -->
        <div class="row">
            <div class="col s12">
                <fieldset>
                    <legend>Add Ingredients:</legend>
                    <button type = "button" class="btn-floating btn-large waves-effect waves-light blue" onclick="addIngredient(GetLastStepNo('ingredients-container')+1,'ingredients-container');"><i class="far fa-plus-square"></i></button>
                    <div id="ingredients-container">
                        {% for ing in recipe.ingredients %}
                        <input id="ing_{{loop.index}}" type="text" name="ing[]" minlength="5" maxlength="200" 
                            value="{{ ing }}">
                        <button type="button" id="but_{{loop.index}}" name="but_{{loop.index}}" 
                            onclick="removeIngredient({{loop.index}},'ingredients-container');" 
                            class="btn-floating btn-small waves-effect waves-light red">
                            <i class="far fa-minus-square"></i></button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- Method -->
        <div class="row">
            <div class="col s12">
                <fieldset>
                    <legend>Method Steps:</legend>
                    <button type="button" class="btn-floating btn-large waves-effect waves-light blue"
                        onclick="addIngredient(GetLastStepNo('method-container')+1,'method-container');"><i
                            class="far fa-plus-square"></i></button>
                    <div id="method-container">
                        {% for meth in recipe.method %}
                            <label for="meth[]">{{ loop.index }}</label>
                            <input id="meth_{{loop.index}}" type="text" name="meth[]" minlength="5" maxlength="200"  
                                value="{{ meth }}">
               
                            <button type="button" id="mbut_{{loop.index}}" name="mbut_{{loop.index}}" 
                                onclick="removeIngredient({{loop.index}},'method-container');" 
                                class="btn-floating btn-small waves-effect waves-light red">
                                <i class="far fa-minus-square"></i></button>
                        {% endfor %}
                    </div>
                </fieldset>
            </div>
        </div>

        <!-- 
            tags
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-tags prefix light-blue-text text-darken-4"></i>
                <div class="chips chips-initial">
                </div>
            </div>
        </div>
        -->

        <!-- Image URL -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-image prefix light-blue-text text-darken-4"></i>
                <input id="image_url" type="text" name="image_url" minlength="5" maxlength="200" class="validate"
                placeholder="Please paste the url for your image here."
                value="{{ recipe.image_url }}">
                <label for="image_url">Image URL</label>
            </div>
        </div>

        <!-- Submit Button-->
        <div class="row">
            <a href="{{ url_for('mycookbook',username=session['user']) }}" class="btn-large red text-shadow">
                Cancel <i class="fas fa times cirlce right"></i>
            </a>
            <button type="submit" class="btn-large light-blue darken-1 text-shadow">
                Save Recipe <i class="fas fa-edit"></i>
            </button>
        </div>
    </form>
{% endblock%}
