{% extends "base.html"%}

    <h3> Recipes List </h3> 
{% block content %}
    
    {% for recipe in recipes %}
        
        <p>{{ recipe.name }}</p>
        <p>{{ recipe.descr }} </p>
        <ul>
            
            {% for ingredient in recipe.ingredients %}
            <li> {{ ingredient }} </li>
            {% endfor%}
            
        </ul>
        <ul>
        
            {% for method in recipe.method %}
            <li> {{ method.step }} : {{ method.descr }}</li>
            {% endfor%}
        </ul>
        <img src="{{ recipe.image_url }}" alt="Girl in a jacket" width="200" height="200">
    {% endfor %}
    </ul>
    
{% endblock %}