{% extends "base.html"%}

    <h3> Recipes List </h3> 
{% block content %}
    <ul>
    {% for recipe in recipes %}
        <li>
        {{ recipe.name }}  &nbsp; {{ recipe.descr }} 
        </li>
        <li>
            {% for ingredient in recipe.ingredients %}
                {{ ingredient }}
            {% endfor%}
        </li>
        <li>
            {% for method in recipe.method %}
                {{ method.step }} : {{ method.descr }}
            {% endfor%}
        </li>
    {% endfor %}
    </ul>
{% endblock %}