{% extends "base.html"%}
{% block content%}
    {% for recipe in my_pinned %}
    <p>{{ recipe.name }}</p>
    <p>{{ recipe.descr }} </p>
{% endfor %}

<h3 class="light-blue-text text-darken-4 center-align">{{ username }}'s Cookbook</h3>
    <div class="row">
        <div class="col 12">
            <a href="{{ url_for('add_recipe')}}" class="btn-large light-blue darken-1 text-shadow">
                Add Recipe
            </a>
        </div>
    </div>
    <div class="row">
        {% for recipe in my_recipes %}
            <div class="col s12 m3">
                <div class="card light-blue darken-4 text-shadow center-align">
                    <div class="card-image">
                        <img src="{{ recipe.image_url }}" alt="recipe image">
                    </div>
                    <div class="card-content white-text">
                        <span class="card-title">{{ recipe.name }}</span>
                    </div>
                    <div class="card-action">
                        <!-- Edit Recipe -->
                        <a href="{{ url_for('edit_recipe',recipe_id=recipe._id)}}" 
                            class="btn green accent-4 tooltipped" 
                            data-position="bottom" data-tooltip="Edit Recipe">
                            <i class="far fa-edit"></i>
                        </a>

                        <!-- Delete Recipe -->
                            <!-- Modal Trigger -->
                        <a href="#modal_{{loop.index}}" 
                            class="waves-effect waves-light btn modal-trigger tooltipped" 
                            data-position="bottom" data-tooltip="Delete Recipe">
                            <i class="far fa-trash-alt"></i>
                        </a>

                            <!-- Modal Structure -->
                        <div id="modal_{{loop.index}}" class="modal">
                            <div class="modal-content">
                                <h4>Delete Recipe</h4>
                                <p>
                                <h4>Are you sure?</h4>
                                </p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('delete_recipe',recipe_id=recipe._id)}}" 
                                    class="modal-close waves-effect waves-green btn-flat">Okay</a>
                                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                            </div>
                        </div>

                        <!-- View Recipe -->
                        <a href="{{ url_for('view_recipe',recipe_id=recipe._id) }}" 
                            class="btn green accent-4 tooltipped"
                            data-position="bottom" data-tooltip="View Recipe">
                            <i class="fas fa-binoculars"></i>
                        </a>
                        
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if not my_recipes %}
    <p>
        It looks like you have not added a recipe yet. Click 
        <a href="{{ url_for('add_recipe')}}" class="">
            here
        </a> to get started.
    </p>
    {% endif%}
{% endblock%}