{% extends "base.html"%}
{% block content %}

    <h3 class="light-blue-text text-darken-4 center-align">View Recipe</h3>
    <div class="row recipe_view">
        <div class="col s12 recipe_info">
            <div class="row"> <!-- row 1 -->
                <div class="col"><!--left col-->
                    <h3 class="dancing">{{ recipe.name }}</h3>
                    <p><i class="fas fa-pen-fancy"></i> By {{ recipe.added_by }}</p>
                    <p><i class="fas fa-star-half-alt"></i> Rated {{ avg[0] }} out 5 from {{ avg[1] }} ratings</p>
                    <div class="row">
                        <div class="col infocol">
                            <i class="fas fa-clock"></i>
                            Prep: {{ recipe.preptime }}
                        </div>
                        <div class="col infocol">
                            <i class="fas fa-clock"></i>
                            Cook: {{ recipe.cooktime }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col infocol">
                            <i class="fas fa-brain"></i>
                            Diff: {{ recipe.difficulty }}
                        </div>
                        <div class="col infocol">
                            <i class="fas fa-utensils"></i>
                            Serves: {{ recipe.serves }}
                        </div>
                    </div>
                </div> <!--end left col-->
                <div class="col"> <!--right col-->
                    <img src="{{ recipe.image_url }}" alt="recipe image">
                </div>            <!--end right col-->
            </div>
            <hr class="hr_flair">
            <div class="row"> <!-- row 2 -->
                <div class="col">
                    {{ recipe.descr }}
                </div>
            </div>
            <div class="row"><!-- row 3 Social Button -->
                <div class="col s12" style="position: relative; height: 70px;">
                    <div class="fixed-action-btn" style="position: absolute; display: inline-block; right:10px;">
                        <a class="btn-floating btn-large green">
                            <i class="fas fa-share-alt"></i>
                        </a>
                        <ul>
                            <li>
                                <a class="btn-floating blue darken-4" href="https://www.facebook.com/" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating blue" href="https://www.twitter.com/" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a class="btn-floating pink" href="https://www.instagram.com/" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div><!-- end actio button-->
                </div><!-- end col -->
            </div><!-- end row 3-->

            <hr class="hr_flair">
            <div class="row"> <!-- row 4 Ing & Method-->
                <div class="col m6">
                    <div class="dancing_big">Ingredients</div>
                    <div class="recipe_ing">
                        <ul>
                            {% for ing in recipe.ingredients %}
                            <li> {{ ing }} </li>
                            {% endfor %}
                        </ul>
                    </div>
                    
                </div>
                <div class="col m6 dancing">
                    <div class="dancing_big">Method</div>
                    <div class="recipe_method">
                        <ul>
                            {% for meth in recipe.method %}
                                <li> <p><span class="head">Step {{ loop.index }}</span>
                                    
                                {{ format_method_step(meth)  }}</p>
                                </li>
                            {% endfor %}
                            </ul>
                    </div>
                    
                </div>
            </div> <!-- end row 4-->
            <hr class="hr_flair">
            {% if recipe.added_by != session["user"] and not session["user"] is None  %}

            <div class="row"> <!-- row 5 Pin To Favs -->
                <div class="col s12 center-align">
                    <p class="dancing_big"> 
                            Pin To Favourites
                    </p>
                    
                    <a class="btn-floating btn-large waves-effect waves-light red darken-4 tooltipped" 
                        data-position = "bottom" data-tooltip = "Pin To Favourite Recipes"
                        id="PinMe"
                        href="{{ url_for('add_to_pinned', recipe_id=recipe._id, avg=avg) }}">
                        <i class="fas fa-heart"></i></a>
                    
                </div>
            </div> <!-- end row 5-->
            <hr class="hr_flair">
            <div class="row rate-me"> <!-- row 6 Rate Me-->
                <div class="col s12">
                    <div class="row">
                        <div class="col s12 center-align dancing_big">
                            Please Rate Me
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s6 push-s3 center-align">
                            <form                       
                            action="{{ url_for('view_recipe', recipe_id=recipe._id) }}" 
                            method="POST"> 
                                <p class="range-field">
                                  <input type="range" id="test5" name="test5" min="1" max="5"/>
                                  <button type="submit" class="col s12 btn Blue darken-4 text-shadow">
                                    Rate! <i class="fas fa-star"></i>
                                    </button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>        
            </div> <!-- end row 6-->
            {% endif %}
            <div class="row"> <!-- row 7 NAV -->
                <div class="col s4 center-align">
                    Prev
                </div> 
                <div class="col s4 center-align">
                    Random
                </div> 
                <div class="col s4 center-align">
                    Next
                </div> 
            </div>
        </div><!-- end class recipe_info -->
    </div> <!-- end outer row -->
{% endblock %}
